AIRFLOW_UID=50000

_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

GCP_PROJECT_ID=your-gcp-project-id
BIGQUERY_DATASET_RAW=olist_raw
BIGQUERY_DATASET_STAGING=olist_staging
BIGQUERY_DATASET_MARTS=olist_marts
