# Segredos e credenciais
.env
keys/
*.json
!dbt/**/*.json
profiles.yml

# Airflow
logs/
airflow.cfg
airflow.db
standalone_admin_password.txt

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml
target/
dbt_packages/

# Dados brutos (não versionar CSVs grandes)
data/raw/*.csv

# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/

# OS
.DS_Store
dbt_internal_packages/
